@font-face {
    font-family: NotoSans;
    src: url('/font/NotoSans/NotoSans-ExtraBold.ttf');
}


#form-buscar>.form-group>.input-group>.form-control {
    height: 50px;
    width: 50vw;
}

#form-buscar>.form-group>.input-group>.input-group-btn>.btn {
    height: 50px;
    font-size: 16px;
    font-weight: 300;


}

#form-buscar>.form-group>.input-group>.input-group-btn>.btn .glyphicon {
    margin-right: 12px;
}


#form-buscar>.form-group>.input-group>.form-control {
    font-size: 16px;
    font-weight: 300;

}