{% extends "base.html" %} {% block title %}Đăng nhập{% endblock %} {% block content
%}
<div class="css-background-1">
    <form method="POST" class="css-container">
        <h2 align="center">Đăng nhập</h2>
        <div class="css-form">
            <div>
                <label for="email"><h4>Địa chỉ Email</h4></label>
                <input type="email" class="css-field css-gradient-border" id="email" name="email" placeholder="Email" />
            </div>
            <div>
                <label for="password"><h4>Mật khẩu</h4></label>
                <input type="password" class="css-field css-gradient-border" id="password" name="password" placeholder="Mật khẩu" />
            </div>
        </div>
        <button type="submit" class="css-gradient-border css-content-center"><h5>Đăng nhập</h5></button>
    </form>
</div>
{% endblock %}