<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- fancy star rating -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/star_rating.css')}}">  
    
    <link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">   
    {% block style%} {% endblock%}
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav class="css-background-grad-1">
        <div class="css-div vertical-center css-margin">

            <!--    Left section    -->
            <div class="css-div left">
                <h5><a href="{{ url_for('home') }}" class="css-underline-animation-white">
                    Trang chủ
                </a></h5> 
                
                <h5><a href="{{ url_for('library')}}" class="css-underline-animation-white">
                    Thư viện tài liệu
                </a></h5> 

                <!-- {%if user.is_authenticated == True%}
                <h5><a href="{{ url_for('document_management')}}" class="css-underline-animation-white">
                    Quản lí tài liệu
                </a></h5> 
                {%endif%} -->
            </div>

            <!--    Logo    -->
            <div class="css-div">    
                <a href="{{ url_for('home') }}"><span>
                    <img src="/static/images/logo.png" height="90rem"></img>
                </span></a>    
            </div>
        
            <!--    Right section   -->
            <div class="css-div right">
                {%if user.is_authenticated == False%}
                <h5><a href="{{ url_for('register') }}" class="css-underline-animation-white">
                    Đăng kí
                </a></h5>

                <h5><a href="{{ url_for('login') }}" class="css-underline-animation-white">
                    Đăng nhập
                </a></h5>

                {%else%}
               
                <h5 style="padding-top: 9px;"><a href="{{ url_for('document_management')}}" class="css-underline-animation-white">
                    Quản lí tài liệu
                </a></h5> 
                
                <div class="css-dropdown">
                    <h5 id="dropdown-btn" class="css-underline-animation-white" onclick="dropdown()">
                        Đăng tải
                    </h5>
    
                    <div id="dropdown-1" class="dropdown-menu">
                        <a href="{{ url_for('upload') }}" class="dropdown-item"><h5>
                            Tài liệu điện tử
                        </h5></a>

                        <a href="{{ url_for('create_listing') }}" class="dropdown-item"><h5>
                            Tài liệu giấy
                        </h5></a>
                    </div>
                </div>

                <div class="dropdown" style="padding-right: 10px ;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span>
                            <img src="{{ get_current_avatar_path(user.id) }}" height="30px"></img>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end" >
                        <h5 style="color: black; font-size: 16px;text-align: center;">{{user.name}}</h5>
                        <hr class="dropdown-divider">

                        <a class="dropdown-item" href="{{ url_for('my_profile')}}">
                            <h5>Hồ sơ</h5>
                        </a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">
                            <h5>Đăng xuất</h5>
                        </a>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div style="padding-bottom: 20rem;">
        {% block content %} 
        {% endblock %}
    </div>

    <div style="height: 10em; background-color: gray; padding: 1rem 3rem; color: white;">
        <h5 style="padding-left: 1rem;">Thông tin liên hệ</h5>
        <h6>Lý Thanh Tú Em - 21120236@student.hcmus.edu.vn</h6>
        <h6>Nguyễn Trung Dũng - 21120228@student.hcmus.edu.vn</h6>
        <h6>Nguyễn Quang Khải - 21120259@student.hcmus.edu.vn</h6>
        <h6>Nguyễn Hữu Nghĩa - 21120295@student.hcmus.edu.vn</h6>
        <h6>Lê Quý Trung - 21120584@student.hcmus.edu.vn</h6>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Some javascript scripts to handle UI design -->
    <script>
        function dropdown() {
            var obj = document.getElementById("dropdown-1");
            obj.style.display = 'block';
        }

        window.onload = function(){
            var obj = document.getElementById("dropdown-1");

            document.onclick = function(e){
                if(e.target.id != 'dropdown-1' && e.target.id != 'dropdown-btn'){
                    obj.style.display = 'none';
                }
            };
        };
    </script>
</body>

</html>