{% extends "base.html" %} 
{% block title %}Pass tài liệu{% endblock %} 
{% block content %}

<h>
    <div class="text-center " style="padding-top: 5rem;">
          <h3 class="css-text-blue">Pass tài liệu</h3>
      </div>
</h>

<div class="container" style="margin-top: 50px;">
  <form method="POST" enctype="multipart/form-data">
      <div class="row justify-content-center ">
          <div class="col-md-4">
              <div class="mb-3">
                  <label for="listing_name" class="form-label">Tiêu đề</label>
                  <input type="text" class="form-control" id="listing_name" name="listing_name" placeholder='' required>
              </div>

              <div class="mb-3">
                  <label for="listing_description" class="form-label">Mô tả tài liệu (Tối đa 200 kí tự)</label>
                  <textarea class="form-control" id="listing_description" name="listing_description" rows="5"></textarea>
              </div>

              <label for="listing_status">Tình trạng tài liệu</label>
              <select class="form-select" aria-label="type-select" id="listing_type" name="listing_status">
                  <option selected>Chọn tình trạng của tài liệu</option>
                  <option value="Mới">Mới (100%)</option>
                  <option value="Khá mới">Khá mới (80%)</option>
                  <option value="Bình thường">Bình thường (60%)</option>
                  <option value="Khá cũ">Khá cũ (50%) </option>
                  <option value="Cũ">Cũ (40%)</option>
              </select>
              <div class="mb-3">
                <label for="listing_amount" class="form-label">Số lượng</label>
                <input type="text" class="form-control" id="listing_amount" name="listing_amount" placeholder='' required>
               </div>
              <div class="mb-3">
                <label for="listing_subject" class="form-label">Môn học/Chủ đề</label>
                <input type="text" class="form-control" id="listing_subject" name="listing_subject" placeholder='' required>
               </div>
               <div class="mb-3 form-group" id="Preview-image">
                    <label class="form-label">Chọn ảnh preview sản phẩm</label>
                    <input type="file" name="image" multiple="multiple" class="form-control-file" style="display: block;">
                </div>
          </div>

          <div class="col-md-4">
              
              <div class="mb-3">
                  <label for="listing_author" class="form-label">Người biên soạn/Tác giả</label>
                  <input type="text" class="form-control" id="listing_author" name="listing_author" placeholder=''>
              </div>

              <div class="mb-3">
                  <label for="listing_school" class="form-label">Trường (Nếu có)</label>
                  <input type="text" class="form-control" id="listing_school" name="listing_school" placeholder=''>
              </div>

              <div class="mb-3">
                  <label for="listing_year" class="form-label">Năm học/Năm xuất bản (Nếu có)</label>
                  <input type="text" class="form-control" id="listing_year" name="listing_year" placeholder=''>
              </div>
              <div class="mb-3">
                <label for="listing_price" class="form-label">Giá tiền của tài liệu</label>
                <input type="text" class="form-control" id="listing_amount" name="listing_price" placeholder=''>
              </div>
              <div class="mb-3">
                <label for="listing_location" class="form-label">Nơi nhận tài liệu</label>
                <input type="text" class="form-control" id="listing_place" name="listing_location" placeholder=''>
              </div>
              <div style="display: grid; place-items: center;">
                <button type="submit" class="btn css-btn"><h5>Đăng tải</h5></button>
              </div>
            </div>
        </div>
    </form>
    
</div>

{% endblock %}