{% extends "base.html" %}

{% block title %} Quản lý tài liệu {% endblock %}

{% block content %}
    

    <dialog id="confirmation_dialog">
        <p>Bạn chắc chắn muốn gỡ tài liệu này khỏi nền tảng ?</p>
        <div>
            <button id="confirm_btn" value="confirm_remove">Xác nhận</button>
            <button id="cancel_btn" value="cancel" formmethod="dialog">Hủy</button>
        </div>
    </dialog>

    <h2>Đăng tải bởi tôi</h2>
    <ul>
        <form id="remove_document_form" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="confimation_placeholder" name="confimation_placeholder" value="remove_document_document.id goes here">
            {% for document in uploaded %}
                <li> 
                    <a href="{{ url_for('document_details', id=document.id) }}">{{document.name}}</a>
                    <p style="display: inline;">Lượt xem: {{document.view_count}}</p>
                    <p style="display: inline;">Lượt tải: {{document.download_count}}</p>
                    <p style="display: inline;">Đánh giá: {{round_float(document.rating, 2)}} sao ({{document.rating_count}} lượt đánh giá) </p>
                    <button type="button" 
                            class="btn btn-primary btn-block btn-sm mx-auto" 
                            id="remove_document_btn" 
                            name="remove_document_{{document.id}}">Gỡ khỏi nền tảng</button>
                </li>
            {% endfor %}
        </form>
    </ul>

    <h2>Đơn bán của tôi</h2>
    <ul>
        <form id="remove_listing_form" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="confimation_placeholder" name="confimation_placeholder" value="remove_listing_listing.id goes here">
            {% for listing in listed %}
                <li> 
                    <a href="{{ url_for('listing_details', id=listing.id) }}">{{listing.name}}</a>
                    <p style="display: inline;">Lượt xem: {{listing.view_count}}</p>
                    <p style="display: inline;">Số lượng: {{listing.amount}}</p>
                    <p style="display: inline;">Đánh giá: {{round_float(listing.rating, 2)}} sao ({{listing.rating_count}} lượt đánh giá) </p>
                    <button type="button" 
                            class="btn btn-primary btn-block btn-sm mx-auto" 
                            id="remove_listing_btn" 
                            name="remove_listing_{{listing.id}}">Gỡ khỏi nền tảng</button>
                </li>
            {% endfor %}
        </form>
        
    </ul>

    <script>
        const removeButtons = document.querySelectorAll("#remove_document_btn");
        const confirmButton = document.getElementById("confirm_btn");
        const cancelButton = document.getElementById("cancel_btn");
        const confirmationDialog = document.getElementById("confirmation_dialog");
        const confimationPlaceholder = document.getElementById("confimation_placeholder");
        const removalForm = document.getElementById("remove_document_form"); 

        removeButtons.forEach((removeButton) => {
            removeButton.addEventListener("click", (e) => {
            confirmationDialog.showModal();
            confimationPlaceholder.value = e.target.name;
            });
        });
        
        cancelButton.addEventListener("click", (e) => {
            confirmationDialog.close();
        });

        confirmationDialog.addEventListener("close", (e) => {
            e.preventDefault();
            confimationPlaceholder.value = "cancel_remove";
        });

        confirmButton.addEventListener("click", (e) => {
            e.preventDefault();
            removalForm.submit();
        });


    </script>

    <h2>Tài liệu đã đánh dấu (Bookmarks)</h2>
    <ul>
        {% for document in bookmarked %}
            <li> 
                <a href="{{ url_for('document_details', id=document.id) }}">{{document.name}}</a>
            </li>
        {% endfor %}
    </ul>

    
{% endblock %}