{% extends "base.html" %}

{% block title %} Quản lý tài liệu {% endblock %}

{% block content %}
    <dialog id="confirmation_dialog">
        <p>Bạn chắc chắn muốn gỡ tài liệu này khỏi nền tảng ?</p>
        <div>
            <button id="confirm_btn" value="confirm_remove">Xác nhận</button>
            <button id="cancel_btn" value="cancel" formmethod="dialog">Hủy</button>
        </div>
    </dialog>

    <div class="css-div column" style="gap: 5rem; padding: 3rem 3.5rem;">
        <div class="css-div column" style="gap: 1rem">
            <h3 class="css-text-blue">Đăng tải bởi tôi</h3>

            <form id="remove_document_form" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="confimation_placeholder" name="confimation_placeholder" value="remove_document_document.id goes here">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><h5>Tên tài liệu</h5></th>
                            <th scope="col"><h5>Lượt xem</h5></th>
                            <th scope="col"><h5>Lượt tải</h5></th>
                            <th scope="col"><h5>Đánh giá</h5></th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for document in uploaded %}
                            <tr> 
                                <th scope="row">
                                    <a href="{{ url_for('document_details', id=document.id) }}">{{document.name}}</a>
                                </th>

                                <td>{{document.view_count}}</td>
                                <td>{{document.download_count}}</td>
                                <td>{{round_float(document.rating, 2)}} sao ({{document.rating_count}} lượt đánh giá)</td>

                                <td>
                                    <button type="button" 
                                        class="btn css-btn" 
                                        id="remove_document_btn" 
                                        name="remove_document_{{document.id}}">Gỡ khỏi nền tảng</button>
                                </td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </form>
        </div>

        <div class="css-div column" style="gap: 1rem">
            <h3 class="css-text-blue">Đơn bán của tôi</h3>

            <form id="remove_listing_form" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="confimation_placeholder" name="confimation_placeholder" value="remove_listing_listing.id goes here">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><h5>Tên tài liệu</h5></th>
                            <th scope="col"><h5>Lượt xem</h5></th>
                            <th scope="col"><h5>Số lượng</h5></th>
                            <th scope="col"><h5>Đánh giá</h5></th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for listing in listed %}
                            <tr> 
                                <th scope="row">
                                    <a href="{{ url_for('listing_details', id=listing.id) }}">{{listing.name}}</a>
                                </th>

                                <td>{{listing.view_count}}</td>
                                <td>{{listing.amount}}</td>
                                <td>{{round_float(listing.rating, 2)}} sao ({{listing.rating_count}} lượt đánh giá)</td>

                                <td>
                                    <button type="button" 
                                        class="btn css-btn" 
                                        id="remove_document_btn" 
                                        name="remove_listing_{{listing.id}}">Gỡ khỏi nền tảng</button>
                                </td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </form>
        </div> 

        <div class="css-div column" style="gap: 1rem">
            <h3 class="css-text-blue">Tài liệu đã đánh dấu</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h5>Tên tài liệu</h5></th>
                        <th scope="col"><h5>Lượt xem</h5></th>
                        <th scope="col"><h5>Đánh giá</h5></th>
                    </tr>
                </thead>

                <tbody>
                    {% for document in bookmarked %}
                        <tr> 
                            <th scope="row">
                                    <a href="{{ url_for('document_details', id=document.id) }}">{{document.name}}</a>
                            </th>

                            <td>{{document.view_count}}</td>
                            <td>{{round_float(document.rating, 2)}} sao ({{document.rating_count}} lượt đánh giá)</td>
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const removeButtons = document.querySelectorAll("#remove_document_btn");
        const confirmButton = document.getElementById("confirm_btn");
        const cancelButton = document.getElementById("cancel_btn");
        const confirmationDialog = document.getElementById("confirmation_dialog");
        const confimationPlaceholder = document.getElementById("confimation_placeholder");
        const removalForm = document.getElementById("remove_document_form"); 

        removeButtons.forEach((removeButton) => {
            removeButton.addEventListener("click", (e) => {
            confirmationDialog.showModal();
            confimationPlaceholder.value = e.target.name;
            });
        });
        
        cancelButton.addEventListener("click", (e) => {
            confirmationDialog.close();
        });

        confirmationDialog.addEventListener("close", (e) => {
            e.preventDefault();
            confimationPlaceholder.value = "cancel_remove";
        });

        confirmButton.addEventListener("click", (e) => {
            e.preventDefault();
            removalForm.submit();
        });


    </script>
{% endblock %}