{% extends "base.html" %}

{% block title %} {{document.name}} {% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename=get_thumbnail_path(document.id)) }}" style="padding-left: 10px; border: 2px solid; border-color: black;"></img>
    <h2>Tên tài liệu: {{document.name}}</h2>
    <h3>Người đăng tải: {{get_uploader(document).name}}</h3>
    <h3>Ngày đăng tải: {{document.date_uploaded.date()}}</h3>
    <h3>Loại tài liệu: {{document.type}}</h3>
    <h3>Môn học/Chủ đề: {{document.subject}}</h3>
    {%if document.description != None %}
        <h3>Mô tả: {{document.description}}</h3>
    {%else%}
        <h3>Mô tả: (mô tả trống)</h3>
    {%endif%}

    {%if document.author != None %}
        <h3>Tác giả: {{document.author}}</h3>
    {%else%}
        <h3>Tác giả: (không xác định)</h3>
    {%endif%}
    
    {%if document.school != None %}
        <h3>Trường: {{document.school}}</h3>
    {%else%}
        <h3>Trường: (không xác định)</h3>
    {%endif%}
    
    {%if document.year != None %}
        <h3>Năm soạn thảo/Xuất bản: {{document.year}}</h3>
    {%else%}
        <h3>Năm soạn thảo/Xuất bản: (không xác định)</h3>
    {%endif%}
    
    {%if document.file_size < 1024 %}
        <h3>Kích cỡ tệp tin: {{document.file_size}} KB</h3>
    {%else%}
        <h3>Kích cỡ tệp tin: {{kilobyte_to_megabyte(document.file_size)}} MB</h3>
    {%endif%}
    
    <h3> Lượt xem: {{document.view_count}}</h3>
    <h3 style="display: inline;">
        Lượt tải:
    </h3>

    <h3 id="download-count" style="display: inline;">{{document.download_count}}</h3>
    <h3>Đánh giá: {{round_float(document.rating, 2)}}</h3>
    <h3>Số lượt đánh giá: {{document.rating_count}}</h3>
    
    <form method="POST" enctype="multipart/form-data">
        <!--Downloading section-->
        <button id="download-btn" 
                name="download_request" 
                type="submit" 
                class="btn btn-primary"
                onclick="update_downloadcount()">Tải xuống</button>

        <!--Bookmarking section-->
        {%if is_bookmarked_by_current_user(document.id) == False %}
            <button id="bookmark-btn" 
                    name="bookmark_request" 
                    type="submit" 
                    class="btn btn-primary" 
                    onclick="change_bookmark_state()" 
                    style="color: white;">Đánh dấu</button>
        {%else%}
            <button id="bookmark-btn" 
                    name="bookmark_request" 
                    type="submit" 
                    class="btn btn-primary" 
                    onclick="change_bookmark_state()" 
                    style="color: yellow;">Đã đánh dấu</button>
        {%endif%}

        <!--Rating section-->
        <!--Code refered from: https://codepen.io/hesguru/pen/BaybqXv-->
        <div class="rate" style="display: inline;">
            <input type="radio" id="star5" name="select_rating" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="select_rating" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="select_rating" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="select_rating" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="select_rating" value="1" />
            <label for="star1" title="text">1 star</label>

            <button id="rating-btn" name="rating_request" type="submit" class="btn btn-primary" style="display: block;">Đánh giá</button>
        </div>
    </form>

    <script>
        function update_downloadcount()
        {
            //alert("Button clicked")
            let current = parseInt(document.getElementById("download-count").innerHTML);
            console.log(current);
            document.getElementById("download-count").innerHTML = String(current + 1);
            console.log(current);
        }

        function change_bookmark_state()
        {
            let current_state = document.getElementById("bookmark-btn").innerHTML;
            
            if (current_state == "Đánh dấu")
            {
                document.getElementById("bookmark-btn").innerHTML = "Đã đánh dấu";
                document.getElementById("bookmark-btn").style.color = "yellow";
            }
            else if (current_state == "Đã đánh dấu")
            {
                document.getElementById("bookmark-btn").innerHTML = "Đánh dấu";
                document.getElementById("bookmark-btn").style.color = "white";
            }
        }
    </script>
    
{% endblock %}