{% extends "base.html" %}

{% block title %}krm-sharing: Nền tảng chia sẻ tài liệu{% endblock %}

{% block content %}
<div class="css-background-1">
    <div class="container d-flex flex-column align-items-center justify-content-center text-center h-100" style="gap: 10rem">
        
        <h1 style="margin-top: -170px;">krm-sharing: Nền tảng chia sẻ tài liệu của bạn</h1>
        <h2 style="margin-top: -60px; margin-bottom: -70px;">Bạn cần tìm kiếm tài liệu gì ?</h2>

        <form role="form" autocomplete="off" id="form-buscar" method="POST" style="background-color: (1, 1, 1, 0.5);">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" 
                           type="text" 
                           id="search_text" 
                           name="search_text" 
                           onkeyup="liveSearch(this.value)"
                           placeholder="Nhập tên tài liệu bạn cần tìm kiếm"/>

                    <span class="input-group-btn">
                        <button class="btn css-btn" type="submit">
                            <h5 class="css-light-italic">Tìm kiếm</h5>   
                        </button>
                    </span>   
                </div>
            
                <div id="search_suggestion">

                </div>
            </div>
        </form>
    </div>

    <!-- <svg xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:krita="http://krita.org/namespaces/svg/krita"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        idth="30.72pt"
        height="30.72pt"
        viewBox="0 0 30.72 30.72">
    <defs/>
        <path id="shape0" transform="matrix(0.144289460739414 0 0 0.144289460739414 0.239999891039226 2.45041425073217)" 
            fill="#464646" fill-rule="evenodd" stroke-opacity="0" stroke="#000000" stroke-width="0" stroke-linecap="square" stroke-linejoin="bevel" 
            d="M0 50.64L186 -5.32907e-15L205.68 69.36C206 72.72 205.2 76.08 203.28 79.44C201.36 82.8 194 96.48 181.2 120.48L197.28 131.28C205.68 135.6 207.68 138.24 203.28 139.2C198.88 140.16 142.64 155.36 34.56 184.8Z" sodipodi:nodetypes="ccczcczcc"/>
        <path id="shape1" transform="matrix(0.144289460739414 0 0 0.144289460739414 26.3506207064436 12.9431438357024)" 
            fill="#808080" fill-rule="evenodd" stroke-opacity="0" stroke="#000000" stroke-width="0" stroke-linecap="square" stroke-linejoin="bevel" 
            d="M24.48 64.8L0 48L24.48 0" sodipodi:nodetypes="ccc"/>
    </svg> -->
</div>

   
</div>

<!-- top downloaded -->
<div>
    <h3>Top tài liệu được tải nhiều nhất</h3>
    <ul>
        {% for document in top_downloaded %}
            <li> 
                <a href="{{ url_for('document_details', id=document.id) }}">{{document.name}}</a>
                <p style="display: inline;"> ({{document.download_count}} lượt tải)</p>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- top viewed -->
<div>
    <h3>Top tài liệu được xem nhiều nhất</h3>
    <ul>
        {% for document in top_viewed %}
            <li> 
                <a href="{{ url_for('document_details', id=document.id) }}">{{document.name}}</a>
                <p style="display: inline;"> ({{document.view_count}} lượt xem)</p>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- top users with the most upload count -->
<div>
    <h3>Top người dùng chia sẻ kiến thức nhiều nhất</h3>
    {% for user, upload_count in top_user_upload_count.items() %}
            <li> 
                <a href="{{ url_for('user_profile', username=user.username) }}">{{user.name}}</a>
                <p style="display: inline;"> (đã đăng tải {{upload_count}} tài liệu)</p>
            </li>
    {% endfor %}
</div>

<!-- live search functionality, courtesy to: https://youtu.be/hjAnhqR-XZk-->
<input type="hidden" id="url_placeholder" value="{{ url_for('document_details', id=0)}}">

<script>
    function liveSearch(value)
    {
        value = value.trim();

        if (value != "")
        {
            $.ajax({
                url:"/livesearch",
                data:{search_text: value},
                dataType:"json",

                success: function(data)
                {
                    var res = "";
                    for (i in data.suggestions)
                    {
                        var separator_index = data.suggestions[i].indexOf('|')
                        var filename = data.suggestions[i].slice(0, separator_index);
                        var id = data.suggestions[i].slice(separator_index+1);
                        
                        var url_id = document.getElementById("url_placeholder").innerHTML
                        url_id = url_id.slice(url_id.length - 1) + 'document/' + id;

                        res += '<a href="' + url_id +'" id="suggestion_hyperlink" style="color: black; text-decoration: none;" onMouseOver="this.style.color=\'#808080\'" onMouseOut="this.style.color=\'#000000\'"> <div style="background-color: white; text-align: left; padding-left: 10px;">' + filename + '</div> </a>';
                    }
                    
                    if (res == "")
                        res = '<div style="background-color: white; text-align: left; padding-left: 10px;"> (Không tìm thấy tài liệu) </div>';

                    $("#search_suggestion").html(res);
                }
            });
        }
        else
        {
            $("#search_suggestion").html('<div style="background-color: white; text-align: left; padding-left: 10px;"> (Không tìm thấy tài liệu) </div>');
        } 
    }

</script>

{% endblock %}