{% extends "base.html" %}

{% block title %} {{listing.name}} {% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename=get_listing_thumbnail(listing.foldername)) }}" style="padding-left: 10px; border: 2px solid; border-color: black;"></img>
    <h2>Tên tài liệu: {{listing.name}}</h2>
    <h3>Người đăng tải: {{get_postid(listing).name}}</h3>
    <h3>Ngày đăng tải: {{listing.date_posted.date()}}</h3>
    <h3>Loại tài liệu: {{listing.type}}</h3>
    <h3>Môn học/Chủ đề: {{listing.subject}}</h3>
    {%if listing.description != None %}
        <h3>Mô tả: {{listing.description}}</h3>
    {%else%}
        <h3>Mô tả: (mô tả trống)</h3>
    {%endif%}

    {%if listing.author != None %}
        <h3>Tác giả: {{listing.author}}</h3>
    {%else%}
        <h3>Tác giả: (không xác định)</h3>
    {%endif%}
    
    {%if listing.school != None %}
        <h3>Trường: {{listing.school}}</h3>
    {%else%}
        <h3>Trường: (không xác định)</h3>
    {%endif%}
    
    {%if listing.year != None %}
        <h3>Năm soạn thảo/Xuất bản: {{listing.year}}</h3>
    {%else%}
        <h3>Năm soạn thảo/Xuất bản: (không xác định)</h3>
    {%endif%}
    
    <h3>Tình trạng : {{listing.status}}</h3>
    <h3>Giá : {{listing.price}}</h3>
    <h3>Số lượng : {{listing.amount}}</h3>
    <h3>Khu vực người bán : {{listing.location}}</h3>
    
    <h3> Lượt xem: {{listing.view_count}}</h3>
    <h3>Đánh giá: {{round_float(listing.rating, 2)}}</h3>
    <h3>Số lượt đánh giá: {{listing.rating_count}}</h3>
    
    <form method="POST" enctype="multipart/form-data">
        <!--Downloading section-->
        <button id="download-btn" 
                name="download_request" 
                type="submit" 
                class="btn btn-primary"
                onclick="update_downloadcount()">Tải xuống</button>

        <!--Bookmarking section-->
        {%if is_bookmarked_by_current_user(listing.id) == False %}
            <button id="bookmark-btn" 
                    name="bookmark_request" 
                    type="submit" 
                    class="btn btn-primary" 
                    onclick="change_bookmark_state()" 
                    style="color: white;">Đánh dấu</button>
        {%else%}
            <button id="bookmark-btn" 
                    name="bookmark_request" 
                    type="submit" 
                    class="btn btn-primary" 
                    onclick="change_bookmark_state()" 
                    style="color: yellow;">Đã đánh dấu</button>
        {%endif%}

        <!--Rating section-->
        <!--Code refered from: https://codepen.io/hesguru/pen/BaybqXv-->
        <div class="rate" style="display: inline;">
            <input type="radio" id="star5" name="select_rating" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="select_rating" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="select_rating" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="select_rating" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="select_rating" value="1" />
            <label for="star1" title="text">1 star</label>

            <button id="rating-btn" name="rating_request" type="submit" class="btn btn-primary" style="display: block;">Đánh giá</button>
        </div>
    </form>

    <script>

        function change_bookmark_state()
        {
            let current_state = listing.getElementById("bookmark-btn").innerHTML;
            
            if (current_state == "Đánh dấu")
            {
                listing.getElementById("bookmark-btn").innerHTML = "Đã đánh dấu";
                listing.getElementById("bookmark-btn").style.color = "yellow";
            }
            else if (current_state == "Đã đánh dấu")
            {
                listing.getElementById("bookmark-btn").innerHTML = "Đánh dấu";
                listing.getElementById("bookmark-btn").style.color = "white";
            }
        }
    </script>
    
{% endblock %}