{% extends "base.html" %}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
<div class="css-background-2">
    <form method="POST" class="css-container">
        <h2 class="css-text-blue">Đăng nhập</h2>

        <div class="css-div column" style="gap: 1rem">
            <div class="form-group">
                <h5 for="username_email">Địa chỉ email hoặc tên đăng nhập</h5>
                <input type="text" class="form-control" id="username_email" name="username_email" placeholder="Nhập email hoặc tên đăng nhập">
            </div>

            <div class="form-group">
                <h5 for="password">Mật khẩu</h5>
                <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" value="remember_me">
                <label class="form-check-label small" for="remember_me">Ghi nhớ đăng nhập</label>
            </div>
        </div>

        <button type="submit" class="btn css-btn" style="align-self: center;"><h5>Đăng nhập</h5></button>
    </form>
</div>
{% endblock %}

