{% extends "base.html" %} {% block title %}Đăng ký{% endblock %} {% block
content %}
<div class="css-background-1">
    <form method="POST" class="css-container" style="width: 50%;">
        <h3 align="center">Đăng ký</h3>

        <div class="css-form-row">
            <div class="css-form" style="width: 50%;">
                <label for="username"><h4>Tên đăng nhập</h4></label>
                <input type="text" class="css-field css-gradient-border" id="username" name="username" placeholder="Tên đăng nhập (5-24 kí tự)" required/>
                
                <label for="password"><h4>Mật khẩu</h4></label>
                <input type="password" class="css-field css-gradient-border" id="password" name="password" placeholder="Mật khẩu" required/>
                
                <label for="repeat_password"><h4>Nhập lại mật khẩu</h4></label>
                <input type="password" class="css-field css-gradient-border" id="repeat_password" name="repeat_password" placeholder="Nhập lại mật khẩu" required/>
            </div>
            
            <div class ="css-form" style="width: 50%;">
                <label for="name"><h4>Họ và tên</h4></label>
                <input type="text" class="css-field css-gradient-border" id="name" name="name" placeholder="Nhập họ và tên" required/>
                
                <label for="email"><h4>Địa chỉ Email</h4></label>
                <input type="email" class="css-field css-gradient-border" id="email" name="email" placeholder="Nhập địa chỉ email" required/>
            </div>
        </div>
            
        <button type="submit" class="css-gradient-border css-content-center"><h5>Xác nhận</h5></button>
    </form>
</div>
{% endblock %}