{% extends "base.html" %}

{% block title %}Đăng ký{% endblock %}

{% block content %}
<div class="css-background-2">
    <form method="POST" class="css-container">
        <h2 class="css-text-blue">Đăng ký</h2>

        <div class="css-div column" style="gap: 1rem">
            <div class="form-group">
                <h5 for="name">Họ và tên</h5>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nhập họ và tên" required/>
            </div>

            <div class="form-group">
                <h5 for="email">Địa chỉ Email</h5>
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập địa chỉ email" required/>
            </div>

            <div class="form-group">
                <h5 for="username">Tên đăng nhập</h5>
                <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập (5-24 kí tự)" required/>
            </div>

            <div class="form-group">
                <h5 for="password"class="small">Mật khẩu</h5>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" required/>
            </div>

            <div class="form-group">
                <h5 for="repeat_password"class="small">Nhập lại mật khẩu</h5>
                <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Nhập lại mật khẩu" required/>
            </div>
        </div>

        <button type="submit" class="btn css-btn" style="align-self: center;">Xác nhận</button>
    </form>
</div>
{% endblock %}