{% extends "base.html" %} 
{% block title %} Hồ sơ của tôi {% endblock %} 
{% block content %}

<style>
  .centered-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    padding-top: 25vh;
    padding-left: 25%;
  }
</style>

<div class="card centered-frame">
    <div class="card-body">
        <ul>
            <div>
               <img src="{{get_current_avatar_path(user.id)}}" height="100px"></img>
              {{user.name}}
            </div>
        </ul>

        {%if user.id == current_user.id %}
          <div>
            <form method="POST" enctype="multipart/form-data">
                <button type="submit" name="change_avatar_request" class="btn btn-outline-dark">Đổi ảnh đại diện</button>
                <button type="submit" name="change_password_request" class="btn btn-outline-dark">Đổi mật khẩu</button>
            </form>
          </div>
        {%endif%}
        <ul>
            <div class="card" style="width: 50rem">
              <ul class="list-group list-group-flush">
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>Email</div>
                  <div>{{user.email}}</div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>Số tài liệu đã đăng tải</div>
                  <div>{{get_num_uploaded(user.id)}}</div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>Tổng số lượt xem</div>
                  <div>{{get_total_views(user.id)}}</div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>Tổng số lượt tải</div>
                  <div>{{get_total_downloaded(user.id)}}</div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>Đánh giá trung bình</div>
                  <div>{{get_average_rating(user.id)}}/5.00</div>
                </li>

              </ul>
            </div>
        </ul>
    </div>
</div>

{% endblock %}
