<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>krm-sharing: Nền tảng chia sẻ tài liệu</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <div id="navbar">
            <nav>
                <a href="{{ url_for('upload') }}">Đăng tải</a>
                <a href="{{ url_for('createlisting') }}">Pass tài liệu</a>
                <a href="{{ url_for('mydocument') }}">Quản lý tài liệu</a>
                <a href="{{ url_for('register') }}">Tạo tài khoản</a>
                <a href="{{ url_for('login') }}">Đăng nhập</a>
            </nav>
        </div>
    </body>
</html>