@font-face {
    font-family: NotoSans;
    src: url('/font/NotoSans/NotoSans-ExtraBold.ttf');
}

#suggestion_hyperlink:hover{
    background-color: blue;
}

#form-buscar>.form-group>.input-group>.form-control {
    height: 50px;
    width: 50vw;
}

#form-buscar>.form-group>.input-group>.input-group-btn>.btn {
    height: 50px;
    font-size: 16px;
    font-weight: 300;
}

#form-buscar>.form-group>.input-group>.input-group-btn>.btn .glyphicon {
    margin-right: 12px;
}


#form-buscar>.form-group>.input-group>.form-control {
    font-size: 16px;
    font-weight: 300;
}

#navbar{
    height: 120px;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body, html {
    height: 100%;
}

/*          Header            */
h1 {
    font-size: 3.42331rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem;
    margin: 0.4rem;
}

h2 {
    font-size: 2.5675rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8125rem;
    margin: 0.3rem;
}

h3 {
    font-size: 1.92581rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1875rem;
    margin: 0.2rem;
}

h4 {
    font-size: 1.44419rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem;
    margin: 0.2rem;
}

h4.css-light-italic {
    font-size: 1.44419rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6875rem; 
    margin: 0.2rem;
}

h5 {
    font-size: 1.08313rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3125rem;
    margin: 0.2rem;
}

h5.css-light-italic {
    font-size: 1.08313rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.3125rem; 
    margin: 0.2rem;
}

h6 {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin: 0.1rem;
}

/*          Sections            */
.css-div {
    display: flex;
    justify-content: center;
    height: fit-content; 
}

.css-div.column {
    flex-direction: column;
}

.css-div.left {
    justify-content: left;
    flex-grow: 1;
    flex-basis: 0;
    gap: 1.5rem;
}

.css-div.right {
    justify-content: right;
    flex-grow: 1;
    flex-basis: 0;
    gap: 1.5rem;
}

.css-div.justify {
    justify-content: space-between;
}

.css-div.vertical-center {
    align-items: center;
}

.css-container {
    width: 50rem;
    height: fit-content;

    background-color: white;
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    gap: 2rem;
}

/*          Margin          */
.css-margin {
    margin: 0 3.5rem;
}

/*          Background          */
.css-background-grad-1 {
    background: linear-gradient(to right,#2785C7 0%, #95DFFD 37%, #FFF 47%, #FFF 53%, #99E0FF 63%, #19BCD3 100%);
}

.css-background-1 {
    height: 100vh;
    margin: 0;

    background:
        linear-gradient(#ffffff88, #ffffff88),
        url(..\\images\\background-2.jpg) center center no-repeat;

    background-size: cover;
}

.css-background-2 {
    height: 100vh;
    margin: 0;
    
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

/*          Text color          */
.css-text-black {
    color: black;
}

.css-text-white {
    color: white;
}

/*          Text animation          */

/*  White underline animation   */
.css-underline-animation-white {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ffffff;
  }
  
.css-underline-animation-white::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.css-underline-animation-white:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

/*  Black underline animation   */
.css-underline-animation-black {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
  }
  
.css-underline-animation-black::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.css-underline-animation-black:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

/*          Dropdown          */
.css-dropdown {
    display: inline-block;
    position: relative;
    width: max-content;
    margin: auto 0;
}

.css-dropdown-options {
    display: none;
    position: absolute; 

    border-radius: 5%;
    border-color: #bdbdbd;
    border-style: solid;
    border-width: 1px;

    overflow: auto;
    background-color:#ffffff;
    z-index: 2;
}

.css-dropdown-options a {
    display: block;
    width: max-content;

    color: #000000;
    text-decoration: none;

    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

/*      Button design       */
.css-btn {
    background-color: #2785C7;
    color: #FFF;
}

.css-btn:hover {
    background-color: #99E0FF;
    color: black;
}